In [50]:
import pandas as pd 
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score

In [2]:
df = pd.read_csv('Pima.csv')

In [3]:
df.head()

   x1   x2  x3  x4   x5    x6     x7  x8  class
0   6  148  72  35    0  33.6  0.627  50      1
1   1   85  66  29    0  26.6  0.351  31      0
2   8  183  64   0    0  23.3  0.672  32      1
3   1   89  66  23   94  28.1  0.167  21      0
4   0  137  40  35  168  43.1  2.288  33      1

In [9]:
df.shape

(768, 9)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
x1       768 non-null int64
x2       768 non-null int64
x3       768 non-null int64
x4       768 non-null int64
x5       768 non-null int64
x6       768 non-null float64
x7       768 non-null float64
x8       768 non-null int64
class    768 non-null int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [15]:
df.isnull().any()

x1       False
x2       False
x3       False
x4       False
x5       False
x6       False
x7       False
x8       False
class    False
dtype: bool

In [17]:
#not required
#df.fillna('ffill')

In [7]:
df.describe()

,x1,x2,x3,x4,x5,x6,x7,x8,class
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [27]:
X = df.iloc[:,:8]
y = df.iloc[:,8]

In [30]:
 X_train, X_test, y_train, y_test = train_test_split(X,y , test_size=0.2 , random_state =42)

In [35]:
scaler = StandardScaler()

In [36]:
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

/home/dell/anaconda2/envs/tensorflow/lib/python2.7/site-packages/sklearn/preprocessing/data.py:645: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/home/dell/anaconda2/envs/tensorflow/lib/python2.7/site-packages/sklearn/base.py:464: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
/home/dell/anaconda2/envs/tensorflow/lib/python2.7/site-packages/ipykernel_launcher.py:2: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.

In [37]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(X_train ,y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [39]:
predictions = gnb.predict(X_test)

In [42]:
cm = confusion_matrix(y_test , predictions)
print(cm)

[[79 20]
 [16 39]]

In [46]:
accuracy_score(y_test, predictions)

0.7662337662337663

In [49]:
precision_score(y_test , predictions)

0.6610169491525424

In [52]:
recall_score(y_test, predictions)

0.7090909090909091