In [41]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split 
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score

In [3]:
df = pd.read_csv('store.csv')

In [4]:
df.head()

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
0,1012,2010-09-20 11:27:04,2010-09-20 11:43:56,31208,M St & New Jersey Ave SE,31108,4th & M St SW,W00742,Member
1,61,2010-09-20 11:41:22,2010-09-20 11:42:23,31209,1st & N St SE,31209,1st & N St SE,W00032,Member
2,2690,2010-09-20 12:05:37,2010-09-20 12:50:27,31600,5th & K St NW,31100,19th St & Pennsylvania Ave NW,W00993,Member
3,1406,2010-09-20 12:06:05,2010-09-20 12:29:32,31600,5th & K St NW,31602,Park Rd & Holmead Pl NW,W00344,Member
4,1413,2010-09-20 12:10:43,2010-09-20 12:34:17,31100,19th St & Pennsylvania Ave NW,31201,15th & P St NW,W00883,Member

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115597 entries, 0 to 115596
Data columns (total 9 columns):
Duration                115597 non-null int64
Start date              115597 non-null object
End date                115597 non-null object
Start station number    115597 non-null int64
Start station           115597 non-null object
End station number      115597 non-null int64
End station             115597 non-null object
Bike number             115597 non-null object
Member type             115597 non-null object
dtypes: int64(3), object(6)
memory usage: 7.9+ MB

In [6]:
df.isnull().any()

Duration                False
Start date              False
End date                False
Start station number    False
Start station           False
End station number      False
End station             False
Bike number             False
Member type             False
dtype: bool

In [9]:
#no need
#df.fillna(method = 'ffill')

In [12]:
df.columns

Index([u'Duration', u'Start date', u'End date', u'Start station number',
       u'Start station', u'End station number', u'End station', u'Bike number',
       u'Member type'],
      dtype='object')

In [15]:
df1 = df.drop(["Start date" , "End date" ,"Start station" , "End station"], axis = 1)

In [16]:
df1.head()

   Duration  Start station number  End station number Bike number Member type
0      1012                 31208               31108      W00742      Member
1        61                 31209               31209      W00032      Member
2      2690                 31600               31100      W00993      Member
3      1406                 31600               31602      W00344      Member
4      1413                 31100               31201      W00883      Member

In [20]:
df1['Member type'].unique()

array(['Member', 'Casual', 'Unknown'], dtype=object)

In [22]:
le = LabelEncoder()

In [24]:
df1['Bike number'] = le.fit_transform(df1['Bike number'])

In [25]:
df1['Member type'] = le.fit_transform(df1['Member type'])

In [26]:
df1.head()

,Duration,Start station number,End station number,Bike number,Member type
0,1012,31208,31108,614,1
1,61,31209,31209,41,1
2,2690,31600,31100,836,1
3,1406,31600,31602,282,1
4,1413,31100,31201,734,1

In [29]:
X =  df1.iloc[:, :4]
y = df1.iloc[:,4]

In [32]:
X_train , X_test, y_train , y_test = train_test_split(X ,y , test_size = 0.25 , random_state = 42)

In [34]:
gnb = GaussianNB()

In [35]:
gnb.fit(X_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [36]:
predictions = gnb.predict(X_test)

In [39]:
confusion_matrix(y_test, predictions)

array([[ 1489,  4524,     0],
       [  146, 22738,     0],
       [    0,     3,     0]])

In [40]:
accuracy_score(y_test, predictions)

0.8383044982698962

In [42]:
lr = LogisticRegression()

In [44]:
lr.fit(X_train, y_train)

/home/dell/anaconda2/envs/tensorflow/lib/python2.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/home/dell/anaconda2/envs/tensorflow/lib/python2.7/site-packages/sklearn/linear_model/logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [47]:
predictions = lr.predict(X_test)

In [48]:
confusion_matrix(y_test,predictions)

array([[ 2045,  3968,     0],
       [  287, 22597,     0],
       [    0,     3,     0]])

In [49]:
accuracy_score(y_test,predictions)

0.8526643598615917